* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

aside {
  position: absolute;
  height: 100vh;
  width: 20%;
  background-color: rgb(15, 15, 15);
}

.search-container {
  position: relative;
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

#search {
  width: 100%;
  height: 40px;
  background-color: rgb(15, 15, 15);
  border: 0.2px solid rgb(30, 30, 30);
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

#search::placeholder {
  color: rgb(119, 117, 117);
  font-family: sans-serif;
  padding-left: 20px;
  font-size: 15px;
}

.buttons {
  position: relative;
  top: 100px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
}

.buttons > button {
  margin: 15px 0;
  cursor: pointer;
  height: 40px;
  background-color: rgb(41, 41, 41);
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}

section {
  position: absolute;
  left: 30%;
  width: 100%;
}

.create-todo {
  position: relative;
  top: 300px;
  padding-right: 40%;
}

#todo-input {
  width: 100%;
  height: 40px;
  background-color: rgb(15, 15, 15);
  border: 0.2px solid rgb(30, 30, 30);
  border-radius: 5px;
  color: #fff;
}

#todo-input::placeholder {
  color: rgb(119, 117, 117);
  font-family: sans-serif;
  padding-left: 20px;
  font-size: 15px;
}

@media (max-width: 700px) {
  aside {
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
  }

  .search-container {
    position: relative;
    width: 40%;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }

  #search {
    width: 100%;
    height: 40px;
    background-color: rgb(15, 15, 15);
    border: 0.2px solid rgb(30, 30, 30);
    border-radius: 5px;
    color: #fff;
  }

  .buttons {
    top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
  }

  .buttons > button {
    padding: 10px 20px;
    font-size: 13px;
  }

  .buttons > button:first-child {
    margin-right: 10px;
  }

  #todo-input {
    margin-top: 200px;
  }

  section {
    left: 20%;
  }
}
